<% if flash[:notice] -%>
	<div id="notice"><%= flash[:notice] %></div>
<% end -%>
<fieldset>
<legend>Edit User Detail</legend>
	<% form_for(@user, :url => { :action => "update" }, :html => { :multipart => true }) do |f| %>	
	<%= f.error_messages %>
	<table id="table-type-1">
		<tr>
			<td clase="label">
				<b><%= f.label :nickname %></b></td>
			<td class="input">
				<%= f.text_field :nickname %></td>
		</tr>
		<tr>
			<td clase="label">
				<b><%= f.label :image %></b></td>
			<td class="input">
				<%= f.file_field :image %></td>
		</tr>
		<tr>
			<td clase="label">
				<b><%= f.label :first_name %></b></td>
			<td class="input">
				<%= f.text_field :first_name %></td>
		</tr>
		<tr>
			<td clase="label">
				<b><%= f.label :last_name %></b></td>
			<td class="input">
				<%= f.text_field :last_name %></td>
		</tr>
		<tr>
			<td clase="label">
				<b><%= f.label :email %></b></td>
			<td class="input">
				<%= f.text_field :email %></td>
		</tr>
		<tr>
			<td clase="label">
				<b><%= f.label :mobile %></b></td>
			<td class="input">
				<%= f.text_field :mobile %></td>
		</tr>
	<p>
	<%= f.submit 'Update'%>
	</p>
	<% end -%>
</fieldset>