<p>
  <div id="product-detail">
	<table cellpadding="5" cellspacing="0">
	  <tr valign="top">
	  	<td>
		  <%= image_tag @product.image.url(:large), :class => 'product-image' %>
		</td>
  		<td>
  		  <b>Name: <%=h @product.product_name %></b>
  		  <br/>
  		  <b>Detail</b> <%=h @product.description %>x
  		</td>
	  </tr>
	</table>
  </div>
	<div id="post-list">
	  <table cellpadding="5" cellspacing="0">
		<% @product.posts.each do |product_post| %>
		  <tr valign="top" class="<%= cycle('post-list-odd', 'post-list-even') %>">
			<td class="info">
			  <%= image_tag product_post.user.image.url(:thumb), :class => 'user-image' %>
			  <br/>
		      <b class="user-info"><%= product_post.user.nickname %></b>
		    </td>
		  	<td class="post-content">
		  	  <b><%= product_post.short_title %></b>
		  	  <br/>
		      <%= product_post.content %>
		     </td>
		  </tr>
		<% end %>
	  </table>
	</div>
	<div>
	<fieldset>
		<legend>New Post</legend>
		<% form_for(@post, :url => { :controller => "posts", :action => "create"}) do |f| %>
		  <%= f.error_messages %>
		
		  <p>
		    <%= f.label :short_title %><br />
		    <%= f.text_field :short_title %>
		  </p>
		  <p>
		    <%= f.label :content %><br />
		    <%= f.text_area :content %>
		  </p>
		  <p>
		  	<%= f.hidden_field  :product_id %>
		  </p>
		  <p>
		    <%= f.submit 'Create' %>
		  </p>
		<% end %>
	</fieldset>
	</div>
</p>