<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang=zh-hk" lang="zh-hk">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>掃貨 Sofo.hk | 香港購物資料分享網 Hong Kong Shopping Info Sharing</title>
        <% #= stylesheet_link_tag 'scaffold' %>
        <%= stylesheet_link_tag 'sofo' %>
    </head>
    <body>
        <div id="header_area" class="full_width">
            <div id="page">
                <div id="logo">
                    <a title="home" class="sofo_logo" href="/"><img title="sofo.hk" alt="sofo.hk" src="images/sofo-logo.gif"/></a>
                </div>
                <div id="main_menu">
                    <ul>
                        <li class="current_page_item">
                            <%= link_to image_tag("menu_home.gif", :border=>0), :controller => :home, :action => :index, :class => 'no_border' %>
                            <%#= link_to '首頁', :controller => :home, :action => :index %>
                        </li>
                        <li class="item">
                            <%= link_to '搵貨', :controller => :home, :action => 'Explore' %>
                        </li>
                        <li class="item">
                            <%= link_to '晒貨', :controller => :home, :action => 'Create' %>
                        </li>
                        <li class="item">
                            <%= link_to '熱賣', :controller => :home, :action => 'Popular' %>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="user_menu">
                <ul id="list">
                    <% if session[:user_loginname] %>
                    <li class="item">
                        Hi, <%= link_to session[:user_loginname], :controller => :users, :action => :show, :id => session[:user_id] %>
                    </li>
                    <li class="item">
                        <%= link_to 'Logout', :controller => :admin, :action => :logout %>
                    </li>
                    <% else %>
                    <li class="item">
                        <%= link_to 'Register', :controller => :admin, :action => 'register' %>
                    </li>
                    <li class="item">
                        <%= link_to 'Login', :controller => :admin, :action => 'login' %>
                    </li>
                    <% end %>
                    <li class="item">
                        <%= link_to 'Help', :controller => :home, :action => 'help' %>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content_area" class="full_width">
            <div id="content">
                <%= yield %>
            </div>
            <div id="sidebars">
                <div id="ad_unit">
                    <script type="text/javascript">
                        <!--
                        google_ad_client = "pub-7005433032432538";
                        /* 300x250, created 8/26/09 */
                        google_ad_slot = "3996664700";
                        google_ad_width = 300;
                        google_ad_height = 250;
                        //-->
                    </script>
                    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
            </div>
        </div>
        <div id="footer_area" class="full_width">
            <div id="page">
                <div id="footer">
                    <div id="footer_menu">
                        <ul>
                            <li>
                                © 2009 Sofo.hk
                            </li>
                            <li>
                                <%= link_to '有關 Sofo', :controller => :user, :action => :index %>
                            </li>
                            <li>
                                <%= link_to '私穏政策', :controller => :user, :action => :index %>
                            </li>
                            <li>
                                <%= link_to '聯絡我們', :controller => :user, :action => :index %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
