<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Sofor</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'sofo' %>
</head>
<body id="user">

<div id="MainContent">
<%= yield %>
</div>
<div id="MenuNav">
	<ul id="list">
		<li><%= link_to 'Profile', :controller => :user, :action => :detail %></li>
		<li><%= link_to 'Message', :controller => :user, :action => :message %></li>
		<li><%= link_to 'Password', :controller => :user, :action => :password %></li>
	</ul>
</div>
<div id="MainNav">Logo</div>
<div id="SecNav">
	<ul id="list">
		<% if session[:user_name] %>
			<li class="item">Hi, <%= session[:user_name]%></li>
			<li class="item"><%= link_to 'Home', :controller => :board, :action => :index %></li>
			<li class="item"><%= link_to 'Logout', :controller => :admin, :action => :logout %></li>
		<% else %>
			<li class="item"><%= link_to 'Home', :controller => :board, :action => :index %></li>
			<li class="item"><%= link_to 'Login', :controller => :admin, :action => 'login' %></li>
		<% end %>
		<li class="item"><%= link_to 'Contact Us', :action => :index %></li>
	</ul>
</div>
<div id="FooterNav">
	<ul id="list">
		<li><%= link_to 'About Sofo', :controller => :user, :action => :index %></li>
		<li><%= link_to 'Privacy Policy', :controller => :user, :action => :index %></li>
		<li><%= link_to 'Contact Us', :controller => :user, :action => :index %></li>
	</ul>
</div>
</body>
</html>